{% load static %}

<div class="card">
    <div class="card-body">
        {% if show_title %}
        <h4 class='card-title'>
            <a href="{% url 'app:title' entry.title.id %}" class='link-secondary'>{{entry.title}}</a>
        </h4>
        {% endif %}
        {{entry.content|safe}}
        <hr/>
        <div class="d-sm-flex justify-content-between mb-2">
            <h6 class="mb-sm-0">
                {% if entry.author != None %}
                <a href= "{% url 'app:profile' entry.author.id %}" class='link-secondary'>
                    <div>
                    <img src="{{entry.author.profile_image.url}}" class='rounded-circle-xsmall mx-2'/>
                    {{entry.author}}
                    </div>
                </a>
                {% else %}
                Deleted User
                {% endif %}
            </h6>
            <small class="text-muted ml-3">
                {{entry.created_at|date:"M d, Y - h:m a" }}
                {% if entry.is_edited %}
                ~ {{entry.updated_at|date:"M d, Y - h:m a" }}
                {% endif %}
            </small>
            {% if request.user.is_authenticated %}
            <div class="media-reply__link">
                <button class="btn btn-transparent p-0 mr-3 vote-button btn-light" data-entry-id="{{ entry.id }}" data-up="1"  style="color: initial;">
                    <i class="bi bi-arrow-up">
                        {% if not show_title %}
                        {{entry.up_votes_count}}
                        {% endif %}
                    </i>
                </button>
                <button class="btn btn-transparent p-0 mr-3 vote-button btn-light" data-entry-id="{{ entry.id }}" data-up="0"  style="color: initial;">
                    <i class="bi bi-arrow-down">
                        {% if not show_title %}
                        {{entry.down_votes_count}}
                        {% endif %}
                    </i>
                </button>
                <button class="btn btn-transparent text-dark font-weight-bold p-0 ml-2 favorite-button" data-entry-id="{{ entry.id }}"style="color: initial;">
                    {% if entry.is_fav %}
                    <i class="bi bi-bookmark-heart-fill" style="color: orange;"></i>
                    {% else %}
                                <i class="bi bi-bookmark-heart"></i>
                            {% endif %}    
                        </button>
                    <div class="btn-group">
                        <button id="btnGroupDrop1" type="button" class="btn link-secondary" data-toggle="dropdown">
                            <i class='bi bi-three-dots-vertical'></i>
                        </button>
                        <div class="dropdown-menu">
                            {% if request.user == entry.author %}
                                <button class="btn btn-transparent text-dark font-weight-bold p-0 ml-2 user-button" data-entry-id="{{ entry.id }}"style="color: initial;">
                                    <a href="{% url 'app:edit-entry' entry.id%}" class='link-light'>
                                        <i class="bi bi-pencil"> edit entry</i>
                                    </a>
                                </button>
                            {% endif %}
                            {% if request.user == entry.author or request.user.is_staff %}
                                <button class="btn btn-transparent text-dark font-weight-bold p-0 ml-2 user-button trash" data-entry-id="{{ entry.id }}" style="color: initial;">
                                    <i class="bi bi-trash"> delete entry</i>
                                </button>
                            {% endif %}
                            <button class="btn btn-transparent text-dark font-weight-bold p-0 ml-2 copy-url-button" data-entry-id="{{ entry.id }}" style="color: initial;">
                                <i class="bi bi-clipboard"> copy entry url</i>
                            </button>
                        </div>
                    </div>  
            </div>
            {% endif %}
            </div>
        </div>
</div>


<style>
    .vote-button:hover i.bi-arrow-up {
        color: green;
    }
    .vote-button:hover i.bi-arrow-down {
        color: red;
    }
    .copy-url-button:hover i {
        color: blue;
    }
    .favorite-button:hover i {
        color: orange;
    }
    .user-button:hover i {
        color: orange;
    }
    .user-button:hover i.bi-trash{
        color: red;
    }
</style>