<div class="p-5">
    <script>
        $(document).ready(function() {
            $('.vote-button').click(function() {
                const showTitle = {{ show_title|yesno:"true,false" }};

                const entryId = $(this).data('entry-id');
                const isUp = $(this).data('up');
                const button = $(this); 

                $.ajax({
                    url: "{% url 'app:vote' %}",  // The URL of your upvote view
                    method: 'POST',
                    data: {
                        'entry_id': entryId,
                        'is_up': isUp,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            console.log("success")
                            if(!showTitle){
                                $(`[data-entry-id="${entryId}"].vote-button[data-up="1"]`).find('i').text(response.up_votes_count);
                                $(`[data-entry-id="${entryId}"].vote-button[data-up="0"]`).find('i').text(response.down_votes_count);
                                console.log('no title area')
                            }else{
                                console.log('title area')
                            }

                            $('.vote-button i').css({'color': ''});

                            if (isUp) {
                                button.find('i').css({
                                    'color': '#28a745'
                                });
                            } else {
                                button.find('i').css({
                                    'color': '#dc3545'
                                });
                            }
                        } else {
                            alert('Error: ' + response.error);
                        }
                    },
                    error: function(response) {
                        // Handle the error
                        alert('Error registering upvote.');
                    }
                });
            });

            $('.favorite-button').click(function() {
                const entryId = $(this).data('entry-id');
                const button = $(this);

                $.ajax({
                    url: "{% url 'app:fav-entry' %}",  // The URL of your favorite view
                    method: 'POST',
                    data: {
                        'entry_id': entryId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            console.log("Favorite updated");

                            if (response.is_favorite) {
                                button.find('i').css({
                                    'color': 'orange'
                                }).addClass('bi-bookmark-heart-fill').removeClass('bi-bookmark-heart');
                            } else {
                                button.find('i').css({
                                    'color': ''
                                }).addClass('bi-bookmark-heart').removeClass('bi-bookmark-heart-fill');
                            }
                        } else {
                            alert('Error: ' + response.error);
                    }
                },
                error: function(response) {
                    // Handle the error
                    alert('Error updating favorite.');
                }
            });
        });
        });
    </script>

{% comment %} entries with entries object {% endcomment %}
{% if entries %}
    {% for entry in entries %}
    <div class="card">
        <div class="card-body">
            {% if show_title %}
            <h4 class='card-title'>
                <a href="{% url 'app:title' entry.title.id %}" class='link-secondary'>{{entry.title}}</a>
            </h4>
            {% endif %}
            <p>{{entry.text}}</p>
            <hr/>
            <div class="d-sm-flex justify-content-between mb-2">
                <h6 class="mb-sm-0">
                    {% if entry.author != None %}
                    <a href= "{% url 'app:profile' entry.author.id %}" class='link-secondary'>{{entry.author}}</a>
                    {% else %}
                    Deleted User
                    {% endif %}
                </h6>
                <small class="text-muted ml-3">
                    {{entry.created_at|date:"M d, Y - h:m" }}
                    {% if entry.is_edited %}
                    ~ {{entry.updated_at|date:"M d, Y - h:m" }}
                    {% endif %}
                </small>
                {% if request.user.is_authenticated %}
                <div class="media-reply__link">
                    <button class="btn btn-transparent p-0 mr-3 vote-button btn-light" data-entry-id="{{ entry.id }}" data-up="1"  style="color: initial;">
                        <i class="bi bi-arrow-up"></i>
                    </button>
                    <button class="btn btn-transparent p-0 mr-3 vote-button btn-light" data-entry-id="{{ entry.id }}" data-up="0"  style="color: initial;">
                        <i class="bi bi-arrow-down"></i>
                    </button>
                    <button class="btn btn-transparent text-dark font-weight-bold p-0 ml-2 favorite-button" data-entry-id="{{ entry.id }}"style="color: initial;">
                        {% if entry.is_fav %}
                        <i class="bi bi-bookmark-heart-fill" style="color: orange;"></i>
                        {% else %}
                                    <i class="bi bi-bookmark-heart"></i>
                                {% endif %}    
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% elif page_obj.object_list %}
{% for entry in page_obj.object_list %}
<div class="card">
    <div class="card-body">
        {% if show_title %}
        <h4 class='card-title'>
            <a href="{% url 'app:title' entry.title.id %}" class='link-secondary'>{{entry.title}}</a>
        </h4>
        {% endif %}
        <p>{{entry.text}}</p>
        <hr/>
        <div class="d-sm-flex justify-content-between mb-2">
            <h6 class="mb-sm-0">
                {% if entry.author != None %}
                <a href= "{% url 'app:profile' entry.author.id %}" class='link-secondary'>{{entry.author}}</a>
                {% else %}
                Deleted User
                {% endif %}
            </h6>
            <small class="text-muted ml-3">
                {{entry.created_at|date:"M d, Y - h:m" }}
                {% if entry.is_edited %}
                ~ {{entry.updated_at|date:"M d, Y - h:m" }}
                {% endif %}
            </small>
            {% if request.user.is_authenticated %}
            <div class="media-reply__link">
                <button class="btn btn-transparent p-0 mr-3 vote-button btn-light" data-entry-id="{{ entry.id }}" data-up="1"  style="color: initial;">
                    <i class="bi bi-arrow-up">
                        {% if not show_title %}
                            {{entry.up_votes_count}}
                        {% endif %}
                    </i>
                </button>
                <button class="btn btn-transparent p-0 mr-3 vote-button btn-light" data-entry-id="{{ entry.id }}" data-up="0"  style="color: initial;">
                    <i class="bi bi-arrow-down">
                        {% if not show_title %}
                            {{entry.down_votes_count}}
                        {% endif %}
                    </i>
                </button>
                <button class="btn btn-transparent text-dark font-weight-bold p-0 ml-2 favorite-button" data-entry-id="{{ entry.id }}"style="color: initial;">
                    {% if entry.is_fav %}
                    <i class="bi bi-bookmark-heart-fill" style="color: orange;"></i>
                    {% else %}
                                <i class="bi bi-bookmark-heart"></i>
                            {% endif %}    
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% else %}
<div>
    <h5> No entry :/</h5>
</div>
{% endif %}

    <style>
        .vote-button:hover i.bi-arrow-up {
            color: green;
        }
        .vote-button:hover i.bi-arrow-down {
            color: red;
        }
        .favorite-button:hover i {
            color: orange;
        }
    </style>
</div>

