{% extends "master.html" %}
{% load static %} 


{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Created At</th>
                                    <th>Entry ID</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if page_obj %}
                                {% for log in page_obj %}
                                <tr>
                                    <td><span>{{log.created_at}}</span></td>
                                    <td><span>{{log.entry_uid}}</span></td>
                                    <td><span>{{log.value}}</span></td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>                        
    </div>
</div>

{% if page_obj %}
<span id='step-links' class="step-links">
    <div class='p-5'>
        <div class='d-flex flex-row justify-content-end align-items-center mb-5'>    
            {% if page_obj.has_previous %}
            <a class="btn btn-warning mx-1" href="?page=1">&laquo; first</a>
            <a class="btn btn-warning mx-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current px-1">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a class="btn btn-warning mx-1" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-warning mx-1" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    </div>                
</span>
{% endif %}

{% endblock %}