{% extends "master.html" %}

{% load static %}

{% block content %}

<div class='d-flex flex-col justify-content-center align-items-center'>
    <div class='row'>
        {% if titles %}
            <h4>Followed Titles</h4>
            <div class="p-5">
                {% for title in titles %}
                    {% include 'components/title_card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <div>
                <h5> No followed title :/</h5>
            </div>
        {% endif %}
    </div>
    
</div>

{% endblock %}