{% extends "components/master.html" %}

{% load static %}

{% block content %}

<div class="d-flex flex-column pt-4 justify-content-center align-items-center">
    <h3 class="col">{{author.username}} profile</h3>
    <h6 class=""> {{entries|length}} entries </h6>
    <h6 class=""> {{titles|length}} titles </h6>
    {% if follow == 0 %}
        <h6 class=""><a href="{% url 'app:follow-user' author.id %}" class='link-dark'>follow</a></h6>
    {% elif follow == 2 %}
        <h6 class=""><a href="{% url 'app:unfollow-user' author.id %}" class='link-dark'>unfollow</a></h6>
        <h6 class="">followed from {{follow_date}}</h6>
    {% endif %}

</div>

<hr/>

{% if entries %}
<h4>{{author.username}}'s Entries</h4>
<div class="p-5">
    {% for entry in entries %}
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="card-body">
            <h5 class="card-title">{{entry.title}}</h5>
            <p class="card-text">{{entry.text}}</p>
            <div class="card-footer text-muted">
                    {{entry.created_at}}
                    {% if entry.is_edited %}
                    - {{entry.updated_at}}
                    {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    <h5> No entry :/</h5>
</div>
{% endif %}

<hr/>

{% if titles %}
    <h4>{{author.username}}'s Titles </h4>
    {% include 'components/titles.html' %}
{% else %}
    <div>
        <h5> No title :/</h5>
    </div>
{% endif %}

{% endblock %}