{% extends "master.html" %}

{% load static %}

{% block content %}

<script>
    $(document).ready(function() {
        $('.profile-filter').click(function(event) {
            event.preventDefault();
            var selection = $(this).attr('id');
            var query = 3;
            if(selection === 'entry'){
                query = 1;
            }else if(selection === 'title'){
                query = 2;
            }
            console.log(query)
            $.ajax({
                url: "{% url 'app:profile' author.id %}",
                method: 'GET',
                data: {'query': query},
                success: function(response) {
                    $('#step-links').removeClass('d-none')
                    // update entries
                    $('#container-area').html(response.html);
                    // reset colors
                    $('.today-link').removeClass('link-warning').removeClass('link-secondary');
                    if (query === 1) {
                        $('.title-area').text("Entries");
                    } else if(query === 2) {
                        $('.title-area').text("Titles");
                    } else{
                        $('.title-area').text("Followers");
                    }
                },
                error: function(response) {
                    alert('Error fetching entries.');
                }
            });
        });
    });
</script>

    <div class="d-flex flex-row p-4 justify-content-between align-items-center">
        <div class="user-img position-relative">
            <span class="activity active"></span>
            <img src="{{author.profile_image.url}}"  class='rounded-circle-small'>
        </div>
        <h3 class="col">{{author.username}} profile</h3>
        {% if follow != -1 %}
            {% if follow == 0 %}
                <h6 class=""><a class="nav-link link-dark" href="{% url 'app:follow-user' author.id %}" class='link-dark'><i class="bi bi-plus-square"></i> follow</a></h6>
            {% elif follow == 2 %}
                <div>
                    <h6 class=""><a class="nav-link link-dark" href="{% url 'app:unfollow-user' author.id %}" class='link-dark'>unfollow</a></h6>
                    <h6 class="">followed from {{follow_date}}</h6>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <hr/>

    <div class="container-fluid mt-3">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <a href='#' id='entry' class='nav-link profile-filter'>
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Written Entry</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{author.entry_count}}</h2>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="bi bi-pen-fill"></i></span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col">
                <a href='#' id='title' class='nav-link profile-filter'>
                <div class="card gradient-2">
                    <div class="card-body">
                        <h3 class="card-title text-white">Created Title</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{author.title_count}}</h2>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="bi bi-pen-fill"></i></span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col">
                <a href='#' id='follower' class='nav-link profile-filter'>
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white">Followers</h3>
                        <div class="d-inline-block">
                        <h2 class="text-white">{{author.follower_count}}</h2>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="bi bi-people-fill"></i></span>
                    </div>
                </div>
            </div>
            </a>

            <div class="col">
                <div class="card gradient-4">
                    <div class="card-body">
                        <h3 class="card-title text-white">Vote Ratio</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{author.upvote_ratio}}%</h2>
                            <p class="text-white mb-0">{{author.up_votes}} - {{author.total_votes}}</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="bi bi-arrow-bar-up"></i></span>
                    </div>
                </div>
            </div>
</div>

<hr/>


{% if page_obj %}
    <span id='step-links' class="step-links d-none">
        <h5 id='title-area'></h5>
            {% if page_obj.object_list %}
                <div id='container-area'>
                </div>
                
                <div class='px-5'>
                    <div class='d-flex flex-row justify-content-end align-items-center mb-5'>
                        
                        {% if page_obj.has_previous %}
                            <a class="btn btn-warning mx-1" href="?page=1">&laquo; first</a>
                            <a class="btn btn-warning mx-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        
                        <span class="current px-1">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        
                        {% if page_obj.has_next %}
                            <a class="btn btn-warning mx-1" href="?page={{ page_obj.next_page_number }}">next</a>
                            <a class="btn btn-warning mx-1" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </div>
                </div>                
            {% endif %}
    </span>
{% endif %}
{% endblock %}