{% extends "master.html" %}

{% load static %}

{% block content %}

<script>
    $(document).ready(function() {
        $('.follow-button').click(function() {
            const titleId = $(this).data('title-id');
            const isFollow = $(this).data('is-follow');
            console.log('click');
            console.log(isFollow);
            console.log(titleId);
            $.ajax({
                url: "{% url 'app:followed-title' %}",  // The URL of your upvote view
                method: 'POST',
                data: {
                    'title_id': titleId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        console.log("success")
                        console.log(response.is_follow);
                        if(!response.is_follow){
                            $(`.follow-button`).text("Follow Title");
                        }else{
                            $(`.follow-button`).text("Unfollow Title");
                        }
                    } else {
                        alert('Error: ' + response.error);
                    }
                },
                error: function(response) {
                    // Handle the error
                    alert('Error following title.');
                }
            });
        });
    });
</script>

    <div class="d-flex flex-column pt-4 justify-content-center align-items-center">
        <h2><a href="{% url 'app:title' title.id %}" class='link-secondary'>{{title|lower}}</a></h2>
        {% if title.topic %}
            <h6 class='mt-2'><a href="{% url 'app:topic' title.topic.id %}" class='link-warning'>{{title.topic}}</a></h6>
        {% endif %}
        <div class="d-flex flex-row align-items-center">
            {% if request.user.is_authenticated %}
                <h6 class='mx-2 my-2'><a href="{% url 'app:new-entry' title.id %}" class='link-secondary'>Add Entry</a></h6>
            {% endif %}
            <div class="btn-group">
                <button id="btnGroupDrop1" type="button" class="btn link-secondary dropdown-toggle" data-toggle="dropdown">
                    {% if selected_choice %}
                        {{selected_choice}}
                    {% else %}
                        Order By
                    {% endif %}
                </button>
                <div class="dropdown-menu">
                    {% for choice in order_choices %}
                    <a class="dropdown-item" href="{% url 'app:order' title.id forloop.counter %}">{{choice}}</a> 
                    {% endfor %}
                </div>
            </div>  
            {% if request.user.is_authenticated %}
            <button type="button" class="btn link-secondary follow-button"  data-title-id="{{title.id}}" data-is-follow="{{is_follow}}">
                {% if is_follow %}
                    Unfollow Title
                {% else %}
                    Follow Title
                {% endif %}
            </button>
            {% endif %}
        </div>
    </div>

    
    <span class="step-links">
        {% if page_obj.object_list %}
            {% if 'latest' in request.path %}
                <h5 class='px-5'>today's entries</h5>
            {% elif 'follow' in request.path %}
                <h5 class='px-5'>followed title entries</h5>
            {% endif %}
            {% include 'components/entries.html' %}
            <div class='px-5'>
            <div class='d-flex flex-row justify-content-end align-items-center mb-5'>
                {% if page_obj.has_previous %}
                    <a class="btn btn-warning mx-1" href="?page=1">&laquo; first</a>
                    <a class="btn btn-warning mx-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current px-1">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                    <a class="btn btn-warning mx-1" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="btn btn-warning mx-1" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </div>
            </div>                
        {% endif %}
    </span>

{% endblock %}