{% extends "master.html" %}

{% load static %}

{% block content %}

<div class="d-flex flex-column pt-2 pb-4 justify-content-center align-items-center">
    <h3 class="">{% now 'd E Y' %}</h3>
</div>

<script>
    $(document).ready(function() {
        $('.today-link').click(function(event) {
            event.preventDefault();
            const query = $(this).attr('id') === 'today-entries' ? 1 : 2;
            console.log(query)
            $.ajax({
                url: "{% url 'app:today' %}",
                method: 'GET',
                data: {'query': query},
                success: function(response) {
                    // update entries
                    $('#container-area').html(response.html);
                    // reset colors
                    $('.today-link').removeClass('link-warning').removeClass('link-secondary');
                    if (query === 1) {
                        $('#today-entries').addClass('link-warning');
                        $('#today-titles').addClass('link-secondary');
                    } else {
                        $('#today-titles').addClass('link-warning');
                        $('#today-entries').addClass('link-secondary');
                    }
                },
                error: function(response) {
                    alert('Error fetching entries.');
                }
            });
        });
    });
</script>

<div class='d-flex flex-row justify-content-around align-items-center'>
    <h5><a href='#' id="today-entries"  class='today-link link-warning'>Today's Entries</a></h5>
    <h5><a href='#' id="today-titles" class='today-link link-secondary'>Today's Titles</a></h5>
</div>

<hr/>


{% if page_obj %}
<span class="step-links">
        {% if page_obj.object_list %}
            <div id='container-area'>
                {% include 'components/entries.html' %}
            </div>
                <div class='px-5'>
                    <div class='d-flex flex-row justify-content-end align-items-center'>
                        {% if page_obj.has_previous %}
                        <a class="btn btn-warning mx-1" href="?page=1">&laquo; first</a>
                        <a class="btn btn-warning mx-1" href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        
                        <span class="current px-1">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        
                        {% if page_obj.has_next %}
                        <a class="btn btn-warning mx-1" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-warning mx-1" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </div>
                </div>                
                {% endif %}
            </span>
            {% endif %}
        </div>
    </div> 
{% endblock %}