{% extends "master.html" %}

{% load static %}

{% block content %}

<div class="d-flex flex-column pt-2 pb-4 justify-content-center align-items-center">
    <h3 class="">{% now 'd E Y' %}</h3>
</div>

<script>
    $(document).ready(function() {
        $('.today-link').click(function(event) {
            event.preventDefault();
            const query = $(this).attr('id') === 'today-entries' ? 1 : 2;
            console.log(query)
            $.ajax({
                url: "{% url 'app:today' %}",
                method: 'GET',
                data: {'query': query},
                success: function(response) {
                    // update entries
                    $('#container-area').html(response.html);
                    // reset colors
                    $('.today-link').removeClass('link-warning').removeClass('link-secondary');
                    if (response.page === 1) {
                        $('#today-entries').addClass('link-warning');
                        $('#today-titles').addClass('link-secondary');
                    } else {
                        $('#today-titles').addClass('link-warning');
                        $('#today-entries').addClass('link-secondary');
                    }
                },
                error: function(response) {
                    alert('Error fetching entries.');
                }
            });
        });
    });
</script>

<div class='d-flex flex-row justify-content-around align-items-center'>
    <h5><a href='#' id="today-entries"  class='today-link {% if is_entries %} link-warning {% else %} link-secondary {% endif %}'>Today's Entries</a></h5>
    <h5><a href='#' id="today-titles"  class='today-link {% if not is_entries %} link-warning {% else %} link-secondary {% endif %}'>Today's Titles</a></h5>
</div>

<hr/>


<div id='container-area'>
    {% if is_entries == 1 %}
        {% include 'components/paginated_entries.html' %}
    {% else %}
        {% include 'components/paginated_titles.html' %}
    {% endif %}
</div>

{% endblock %}